@import "../../../../../../../../general_use/css/core";

#ActiveBandPageContentUpcomingGigs{

  .row{
    margin-bottom:0px;
  }

  .gig-wrapper{
    max-height:500px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}