

/**
 * Define General Colours that we use on the site
 */
$control_black:#161616;
$control_light_grey:#D8D8D8;

$control_band_primary:#42392B;
$control_band_secondary:#635642;

$control_gig_primary:#1A2226;
$control_gig_secondary:#3C4E56;
$control_gig_light:#90A5B2;

$control_news_primary:#283829;
$control_news_secondary:#466048;

$control_image_backer:#4D4D4D;


$store_dark_grey:#161616;
$store_grey:#212121;
$store_light_grey:#2B2B2B;
$store_very_light_grey:#3D3D3D;


/**
 * Primary font names
 */
$primary_font:'hacka';


@mixin no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin transition($speed) {
  -webkit-transition: all $speed cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition: all $speed cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition: all $speed cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition: all $speed cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

