@import "../../../../../../../app/general_use/css/core";

#ActiveBandPageContent{

  h4{
    font-weight:200!important;
    color:$control_light_grey;
  }

  .upcoming-gigs-empty{
    p{
      color:$control_light_grey;
    }
  }
}