@import "../../../../../../../../general_use/css/core";


#SearchResults{
  position: absolute;
  top: 100%;
  left: 90px;
  width:100%;
  max-width:600px;
  background: $store_dark_grey;
  z-index:100;
  border-left: 5px solid $store_blue;
  border-bottom:5px solid $store_very_light_grey;
  border-right:5px solid $store_very_light_grey;
  padding: 20px;
  color: $control_light_grey;
  padding-bottom:3rem;

  h5{
    margin:0px;

    i{
      color:$store_blue;
    }
  }

  .search-results-list{
    li{
      margin-bottom:10px;

      .result-heading{
        font-size:1.8rem;
        font-weight:300;
        display:inline-block;
        margin:0px;
        border-radius:4px 4px 0px 0px;
        color:$store_dark_grey;
      }

      &.artists{
        .result-heading{
          background:$store_blue;
          padding:0px 15px;
        }
      }

      &.albums{
        .result-heading{
          background:$store_blue;
          padding:0px 15px;
        }
      }

      &.songs{
        .result-heading{
          background:$store_blue;
          padding:0px 15px;
        }
      }

      ul{
        margin:0px;

        a{
          color:$control_light_grey;

          li{
            font-size:1.5rem;
            font-weight:300;
            margin:0px;
            background:$store_grey;
            padding:5px 15px;
            border-radius:0px 0px 0px 0px;
            border:1px solid $store_light_grey;
            line-height: 48px;

            &:last-child{
              border-radius:0px 0px 4px 4px;
            }

            .result-avatar{
              width:48px;
              height:48px;
              vertical-align: top;
              margin-right:10px;
              border:1px solid $store_very_light_grey;
              border-radius:2px;
              overflow:hidden;
            }
          }
        }
      }
    }
  }

  .close-results{
    cursor:pointer;
    position: absolute;
    bottom:0;
    right:0;
    font-size:3rem;

    &:hover{
      opacity:0.8;
    }
  }
}