@import "../../../../../../../app/general_use/css/core";

#ActiveBandPageHeader{

  margin-top:60vh;
  min-height:128px;
  position: relative;

  #avatar-wrapper{
    @include no-select();

    width:128px;
    height:128px;
    background:$control_image_backer;
    margin:auto;
    border-radius:5px;
    margin-top:-69px;
    border:5px solid $control_band_primary;

    #avatar-image{
      width:100%;
      border-radius:4px;
    }
  }

}