@import "../../../../css/core";

#PlaylistDisplay{
  position: absolute;
  bottom: 100%;
  background: $control_light_grey;
  color:$store_dark_grey;
  border-top:1px solid $store_grey;
  border-left:1px solid $store_grey;
  box-shadow: -2px -2px 15px $control_black;
  height: auto;
  max-height:400px;
  overflow-y:auto;
  border-radius:6px 0px 0px 0px;
  right: 0;
  max-width: 400px;
  width:100%;
  padding:10px;
  padding-bottom:0px;

  @include transition(400ms);
  transform: translate3d( 0, 0, 0 ); /* X, Y, Z */
  -webkit-transform: translate3d( 0, 0, 0 );
  opacity:1;

  &.hidden{
    @include transition(400ms);
    transform: translate3d( 100%, 0, 0 ); /* X, Y, Z */
    -webkit-transform: translate3d( 100%, 0, 0 );
    opacity:0;
  }

  > h5{
    font-weight:300;
    margin-top: 0px;
    margin-bottom:10px;
  }

  ul{
    margin-bottom:0px;
    margin-top:0px;

    .PlaylistItem{
      padding:10px;
      font-size:1.2rem;
      font-weight:300;
      margin-left:-10px;
      margin-right:-10px;
      background:$control_light_grey;

      &:first-child{
        border-top:1px solid $store_very_light_grey;
      }

      &.active{
        background:$store_blue!important;
        color:$store_dark_grey;
      }

      i{
        vertical-align: top;
        margin-right:10px;
        margin-top:1px;
        cursor:pointer;

        &:hover{
          opacity:0.8;
        }

        &.remove-icon{
          float:right;
        }
      }

      ul{
        padding-left:20px;
      }
    }
  }


}