#BandsList{
    background:#42392B;
}

#BandsList h3 {
    font-family: 'hacka';
    color: #635642;
}

#BandsList h3 div{
    margin-top:-15px;
    opacity:0.5;
    font-size:28px;
}

#BandsList p{
    color:#635642;
}

#BandListLoader{
    margin-bottom:15px;
}